/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 80px; /* Compensação do cabeçalho */
}

.container {
    display: flex;
    background-color: #000;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 700px;
    padding: 20px;
    justify-content: space-between;
}

.left-side {
    flex: 1;
    padding: 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side h2 {
    font-size: 24px;
    color: #FFDE00;
    margin-bottom: 10px;
}

.left-side p {
    font-size: 16px;
    color: #aaa;
}

.right-side {
    flex: 1;
    background-color: #222;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url('assets/imagens/usuario.png') no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;
    border: 3px solid #FFDE00;
}

h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.btn {
    background: #FFDE00;
    color: #000;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.btn:hover {
    background: #FFC700;
}

.login-links {
    margin-top: 15px;
    text-align: center;
}

.login-links a {
    color: #FFDE00;
    text-decoration: none;
    font-size: 14px;
}

.login-links a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}

footer a {
    color: #FFDE00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Cabeçalho */
.header {
    background-color: #000;
    color: #FFDE00;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFDE00;
    text-decoration: none;
    margin-left: 100px;
}

/* Container do botão de alternância */
.toggle-container {
    display: flex;
    align-items: center;
}

.icon-sun, .icon-moon {
    font-size: 24px;
    margin: 0 10px; /* Espaçamento entre o ícone e o botão */
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin: 0 10px; /* Adicionando espaço para ícones */
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 28px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #000;
}

input:checked + .slider:before {
    transform: translateX(22px);
    background-color: #000;
}

/* Popup de Login Bem-sucedido */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #FFDE00;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
    font-size: 12px;
    width: 10px;
    height: 10px;
}

.popup.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}

.popup p {
    margin: 0;
    padding-bottom: 5px;
    font-size: 12px;
}

.popup img {
    width: 50px;
    height: auto;
    margin-top: 5px;
    animation: move 3s linear infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(30px);
    }
}

/* Estilos para o popup no modo claro */
body:not(.dark-mode) .popup {
    background-color: #fff;
    color: #000;
}

.dark-mode .header-logo {
    color: #FFDE00;
}

.dark-mode .switch .slider {
    background-color: #FFDE00;
}

.dark-mode .slider:before {
    background-color: #000;
}

body:not(.dark-mode) .header-logo {
    color: white;
}
